html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('font/LEMONMILK-Light.woff2') format('woff2'),
        url('font/LEMONMILK-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-col: #d1d1d1;
    --bg-col: #1b1d2e;
    --input-col: #111119;
    --desc-col: #000000;
    --accent: 0, 159, 156;
    --accent-col: rgb(var(--accent));
    --error: rgb(147, 64, 64);
    --pass: rgb(66, 162, 76);

    font-family: 'Roboto';
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--accent-col);
}

body {
    background-color: var(--bg-col);
    display: flex;
}

form {
    flex: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 64px;
}

input {
    background-color: var(--input-col);
    border: 0;
    width: 100%;
    height: 100%;
    color: var(--text-col);
    font-size: 1.2rem;
    padding-left: 16px;
    transition: 0.5s;
}

input:focus {
    outline: none;
}

input:hover {
    filter: brightness(1.5);
    transition: 0.5s;
}

input:not(:placeholder-shown) + label {
    opacity: 0;
}

label {
    width: 100%;
    position: absolute;
    color: var(--text-col);
    top: 11px;
    left: 16px;
    font-size: 1.2rem;
    opacity: 0.5;
}

button {
    width: 225px;
    height: 40px;
    border: 0;
    background-color: var(--accent-col);
    color: var(--text-col);
    transition: 0.5s;
}

button:hover {
    filter: brightness(1.25);
    transition: 0.5s;
}

button + div {
    color: var(--text-col);
}

.form-desc {
    color: var(--text-col);
    margin-bottom: 32px;
    font-size: 1.6rem;
    width: 450px;
}

.form-main {
    display: flex; 
    flex-direction: column;
    gap: 18px;
}

.input-group {
    background-color: var(--input-col);
}

.input-container {
    position: relative;
    display: inline-block;
    width: 225px;
    height: 40px;
    transform-origin: top;
}

.checklist {
    height: 0;
    overflow: hidden;
    color: var(--accent-col);
    padding-left: 16px;
    list-style: none;
    transition: 0.5s;
}

.checklist.open {
    height: 2.5em;
    transition: 0.5s;
}

.checklist.open.password {
    height: 6em;
}

.checklist > .error {
    color: var(--error);
}

.checklist > :not(.error)::before {
    content: '✔ '
}

.checklist > .error::before {
    content: '✖ ';
}

.background {
    flex: 1;
    background-image: url('img/background.jpeg');
    height: 100vh;
    position: relative;
}

.logo {
    background-color: rgba(var(--accent), 0.8);
    color: var(--text-col);
    padding: 16px 0;
    margin-top: 25vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: 'LEMON MILK';
    font-size: 2.5rem;
}

.logo::after {
    content: "Image by papers.co";
    background-color: var(--input-col);
    color: var(--text-col);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px 8px;
    font-size: 1rem;
    font-family: 'Roboto';
}

.logo > img {
    width: 64px;
    height: auto;
}